@import "../../../styles/variables.scss";

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.mode {
  display: flex;
  justify-content: right;
  background-color: transparent;
  padding: 6px;
  width: 70px;
  border-radius: 15px;
  border: 2px solid $green-bg-color;
  cursor: pointer;
  transition: 250ms ease-in-out;
  color: $green-bg-color;
  &__sticky {
    color: white;
    border: 2px solid $green-bg-color;
  }
  &__dark {
    transition: 250ms ease-in-out;
    justify-content: left;
    background-color: transparent;
    border: 2px solid white;
  }
  &__icon__dark {
    color: #505050;
  }

  &:hover {
    border: 2px solid white;
    transform: scale(1.07);

    .mode__icon {
      transition: 250ms;
      color: $gray;
    }
    .mode__icon__dark {
      transition: 250ms;
      color: white;
    }
  }
}

.mode__dark:hover {
  border: 2px solid $green-bg-color;
}

@media (max-width: 1126px) {
  .mode__container {
    display: flex;
    justify-content: right;
  }
}
