@import "../../styles/variables.scss";
.main {
  height: 720px;
}

.about {
  display: grid;
  grid-template-columns: 2;
  justify-content: center;
  &__photo {
    width: 300px;
    grid-column: 1;
    padding: 18px;
    border-radius: 40px;
  }
  &__description {
    border-left: 1px solid $background-color-dark;
    grid-column: 2;
    width: fit-content;
    text-align: justify;
    font-size: 22px;
    padding: 18px;
    &__dark {
      border-left: 1px solid $green-bg-color;
    }
    &__icons {
      text-align: center;
    }
    &__icon {
      padding: 8px;
    }
  }
}

.intro {
  margin-top: 0px;
  justify-content: center;
  text-align: justify;
  font-size: 24px;
  padding: 24px;
  &__title {
    padding: 18px;
    font-size: 36px;
    text-align: center;
    --caret: currentcolor;
  }
}

@keyframes typing {
  6.5% {
    content: "Sobre";
  }

  15% {
    content: "Sobre ";
  }

  20% {
    content: "Sobre m";
  }

  45% {
    content: "Sobre mo";
  }

  50%,
  100% {
    content: "Sobre m";
  }

  58%,
  90% {
    content: "Sobre mi";
  }

  85% {
    content: "Sobre mim";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.intro__title::before {
  content: "Sobre ";
  animation: typing 3s infinite;
  border-bottom: 1px solid black;
}

.intro__title::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.intro__title__dark::before {
  border-bottom: 1px solid $green-bg-color;
}

.git,
.linkedin,
.email {
  transition: 250ms;
  color: black;
  cursor: pointer;
  &__dark {
    color: white;
  }
}

.git:hover {
  color: #858585;
}

.linkedin:hover {
  color: #0e76a8;
}

.email:hover {
  color: #bb001b;
}
