@import "../../styles/variables.scss";
.main {
  height: 720px;
}

.about {
  display: grid;
  grid-template-columns: 2;
  justify-content: center;
  &__photo {
    width: 300px;
    grid-column: 1;
    padding: 18px;
    border-radius: 40px;
  }
  &__description {
    border-left: 1px solid $background-color-dark;
    grid-column: 2;
    width: fit-content;
    text-align: justify;
    font-size: 22px;
    padding: 18px;
    &__dark {
      border-left: 1px solid $green-bg-color;
    }
    &__icons {
      text-align: center;
    }
    &__icon {
      padding: 8px;
    }
  }
}

.intro {
  margin-top: 0px;
  justify-content: center;
  text-align: justify;
  font-size: 24px;
  padding: 24px;
  &__title {
    padding: 18px;
    font-size: 36px;
    text-align: center;
    --caret: currentcolor;
  }
}

@keyframes typing {
  6.5% {
    content: "";
  }
  9% {
    content: "S";
  }
  13.5% {
    content: "So";
  }
  18% {
    content: "Sot";
  }
  21.5% {
    content: "Sotr";
  }
  26% {
    content: "Sotre";
  }
  30.5% {
    content: "Sotr";
  }
  35% {
    content: "Sot";
  }
  39.5% {
    content: "So";
  }
  44% {
    content: "Sobr";
  }

  44.5% {
    content: "Sobre";
  }

  49% {
    content: "Sobre ";
  }
  53.5% {
    content: "Sobre m";
  }
  58% {
    content: "Sobre mi";
  }
  62.5%,
  70% {
    content: "Sobre mim";
  }
  67% {
    content: "Sobre mim";
  }
  71.5% {
    content: "Sobre mim";
  }

  76% {
    content: "Sobre mim";
  }
  80.5%,
  88% {
    content: "Sobre mim";
  }
  85% {
    content: "Sobre m";
  }
  95%,
  100% {
    content: "Sobr";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.intro__title::before {
  content: "";
  animation: typing 7s infinite;
  border-bottom: 1px solid black;
}

.intro__title::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.intro__title__dark::before {
  border-bottom: 1px solid $green-bg-color;
}

.git {
  transition: 250ms;
  color: black;
  cursor: pointer;
  &__dark {
    color: white;
  }
}

.git:hover {
  color: $green-bg-color;
}

.linkedin {
  transition: 250ms;
  color: black;
  cursor: pointer;
  &__dark {
    color: white;
  }
}

.linkedin:hover {
  color: #0e76a8;
}

.git__dark:hover {
  color: $green-bg-color;
}
