$background-color: rgb(229, 229, 229);
$background-color-dark: #0e0f0f;
$dark-gray: #181a1a;
$gray: #2b2b2b;
$font-color: #121212;
$font-color-dark: rgb(216, 216, 216);
$font-size-title: 28px;
$green-bg-color: rgb(94, 165, 96);
