$background-color: rgb(229, 229, 229);
$background-color-dark: #121212;
$dark-gray: #191919;
$font-color: #121212;
$font-color-dark: rgb(216, 216, 216);
$font-size-title: 28px;
$green-bg-color: rgb(94, 165, 96);
