@import "../../../styles/variables.scss";

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 8px;
  font-size: $font-size-title;
  border-bottom: 1px solid $background-color-dark;
  width: 100%;
  &__dark {
    border-bottom: 1px solid $green-bg-color;
  }
}

.list__container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: 0;
}

.scroller {
  max-width: 80svw;
  outline: 1px solid lime;
  &__animated {
    overflow: hidden;
    // any color would do, just need a 100% opacity color. used white
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    .scroller__inner {
      width: fit-content;
      flex-wrap: nowrap;
      animation: scroll 40s linear infinite;
      white-space: nowrap;
      height: fit-content;
      padding: 0;
      margin: 32px 0 32px 0;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  padding-block: 1rem;

  img {
    width: 350px;
    transition: 350ms ease-in-out;
    @media (max-width: 500px) {
      width: 250px;
    }
    &:hover {
      transform: scale(1.04);
    }
  }
}

@media (max-width: 1245px) {
  .scroller__inner {
    li {
      width: 90%;
    }
  }
}
