@import "../../../styles/variables.scss";

.title {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 8px;
  font-size: 28px;
  border-bottom: 1px solid $background-color-dark;
  &__dark {
    background-color: $background-color-dark;
    color: #d8d8d8;
    border-bottom: 1px solid $green-bg-color;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding: 0;
  @media (max-width: 800px) {
    gap: 5em;
    margin-top: 2em;
  }
  @media (max-width: 550px) {
    gap: 10em;
    margin-top: 8em;
    padding-bottom: 2em;
  }
  @media (max-width: 450px) {
    margin-top: 3em;
    gap: 8em;
  }
}

.card {
  text-decoration: none;
  color: $font-color;
  width: 550px;
  height: 283px;
  box-shadow: 0 0 10px 0 black;
  transition: 350ms;
  @media (max-width: 550px) {
    width: 400px;
    height: 200px;
  }
  @media (max-width: 450px) {
    width: 300px;
    height: 300px;
  }
}

.card:hover {
  box-shadow: 0 0 20px 1px black;
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media (max-width: 800px) {
    margin-left: 2em;
  }
  @media (max-width: 450px) {
    height: 350px;
    margin: 0;
  }
}

.card .image img {
  width: 100%;
  transition: 0.5s;
}
.card:hover .image img {
  opacity: 0.5;
  transform: translateX(30%);
  @media (max-width: 800px) {
    transform: translateX(0%);
  }
}
.card .details {
  margin-top: -283px;
  width: 85%;
  height: 283px;
  background: $green-bg-color;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
  @media (max-width: 800px) {
    width: 100%;
    transform: perspective(2000px) rotateY(0deg);
  }
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  min-height: 157px;
  padding: 20px;
  background: $background-color;
  top: 50%;
  transform: translateY(-50%);
  &__dark {
    background-color: rgb(24, 23, 27);
    color: $font-color-dark;
  }
}
.card .details .center h4 {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: 600;
  font-size: 1.1em;
}

.card .details .center p {
  padding: 0;
  font-size: 1em;
}
.card .details .center ul {
  margin: 5px auto 0;
  padding: 0;
  display: table;
}
.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.card:hover .git {
  animation: test 700ms linear;
}
.git {
  color: $font-color;
  transition: 350ms;
  &__dark {
    color: $font-color-dark;
  }
  &:hover {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

@keyframes test {
  0% {
    transform: scale(1.5);
  }
  30% {
    transform: none;
  }
  65% {
    transform: scale(1.5);
  }
  100% {
    transform: none;
  }
}
