@import "../../../styles/variables.scss";

.container {
  padding: 18px;
}

.title {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 8px;
  font-size: $font-size-title;
  border-bottom: 1px solid $background-color-dark;
  &__dark {
    background-color: $background-color-dark;
    color: $font-color-dark;
    border-bottom: 1px solid $green-bg-color;
  }
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.link {
  color: $font-color;
  text-decoration: none;
  width: 90%;
  height: fit-content;
  padding: 15px;
  &__dark {
    color: $font-color-dark;
    text-decoration: none;
  }
}

.item {
  display: flex;
  background-color: $green-bg-color;
  padding: 36px;
  border-radius: 40px;
  box-shadow: 10px 5px 1px rgba(0, 0, 0, 0.3);
  text-align: justify;
  color: white;
  &__div {
    width: 100%;
    display: flex;
    &__text {
      font-size: 20px;
      padding-right: 10%;
      &__title {
        color: $font-color;
      }
      &__subtitle {
        color: white;
      }
      &__tecnologias {
        border-bottom: 1px solid $background-color;
        width: 50%;
        padding: 15px;
        margin-left: 0;
      }
      &__list {
        display: flex;
        padding: 0;
        &__icons {
          margin-bottom: 15px;
          margin-left: 15px;
        }
      }
    }
    &__img {
      width: 500px;
      align-self: center;
      border-radius: 50px;
      box-shadow: 15px 10px 1px rgba(0, 0, 0, 0.3);
    }
  }
  &__dark {
    background-color: $dark-gray;
    &__div {
      &__text {
        &__title {
          color: $green-bg-color;
        }
        &__subtitle {
          color: $font-color-dark;
        }
      }
    }
  }
}

.git-link {
  color: white;
}
.git-link:hover {
  transition: 350ms;
  opacity: 0.3;
}
.item:hover {
  transition: 250ms;
  border: 1px solid black;
  transform: scale(1.02);
}

.item__dark:hover {
  border: 1px solid $green-bg-color;
}

@media (max-width: 1074px) {
  .link {
    width: 70%;
  }

  .item {
    &__div {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__img {
        order: 1;
        width: 100%;
        height: 50%;
        margin-bottom: 15px;
      }
      &__text {
        order: 2;
        width: 100%;
        margin-top: 15px;
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 818px) {
  .link {
    width: 100%;
  }
  .item {
    &__div {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__img {
        order: 1;
        margin-bottom: 15px;
      }
      &__text {
        margin-top: 15px;
        order: 2;
        padding-right: 0;
      }
    }
  }
}
