@import "../../../styles/variables.scss";

.nav {
  position: relative;
  background-color: $background-color;
  color: $background-color-dark;
  width: 100%;
  height: 10%;
  display: flex;
  font-size: 18px;
  transition: background-color 350ms;
  z-index: 1;
  &__title {
    width: 85%;
    height: 61px;
    margin: 18px;
    display: flex;
    justify-content: left;
    margin-left: 15px;
    padding: 0;
    align-self: center;
  }
  &__sticky {
    position: fixed;
    background-color: rgba(12, 12, 12);
    color: white;
  }
  &__dark {
    transition: background-color 350ms;
    background-color: $background-color-dark;
    color: $background-color;
    &__sticky {
      position: fixed;
      background-color: $background-color;
      color: $font-color;
    }
  }
}

.list {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-right: 2%;
  align-items: center;
  width: 100%;
}

.list li {
  padding: 8px;
  :hover {
    transition: 350ms;
    opacity: 0.6;
    cursor: pointer;
  }
}

.list__sticky {
  width: 100%;
  height: 54px;
}

.list a {
  transition: 350ms;
  color: $font-color;
}

.list__sticky a {
  color: $font-color-dark;
}

.list__dark a {
  color: $green-bg-color;
}

.list__dark__sticky a {
  color: $font-color;
}

@media (max-width: 1552px) {
  .nav {
    height: 10%;
  }
  .list li {
    margin-bottom: 18px;
  }
}
