@import "../../../styles/variables.scss";

.header {
  position: relative;
  background-color: $background-color;
  color: $background-color-dark;
  width: 100%;
  height: 8svh;
  display: flex;
  align-items: center;
  font-size: 18px;
  transition: background-color 350ms;
  z-index: 1;
  gap: 0 2svw;
  &__sticky {
    position: fixed;
    background-color: rgba(12, 12, 12);
    color: white;
  }
  &__dark {
    transition: background-color 350ms;
    background-color: $background-color-dark;
    color: $background-color;
    &__sticky {
      position: fixed;
      background-color: $dark-gray;
      color: $font-color-dark;
    }
  }

  @media (max-width: 796px) {
    gap: 0 8svw;
  }
}

.title {
  margin: 18px;
  display: flex;
  justify-content: left;
  padding: 0;
  align-self: center;
  margin-left: 8svw;
  padding-left: 18px;
}

.inner_links {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 4svw;
  a {
    text-decoration: none;
    color: black;
    margin-top: 5px;
    transition: 350ms ease-in-out;
    &::after {
      content: "";
      padding-bottom: 5px;
      display: flex;
      flex-direction: column;
      width: 0;
      border-bottom: 1px solid $green-bg-color;
      transition: 350ms ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__dark {
    a {
      color: white;
    }
  }
  &__sticky {
    a {
      color: white;
    }
  }
}

.out_links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3svw;
}

.list {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin: 0;
  margin-right: 2.5%;
  align-items: center;
  width: 100%;
  gap: 0 16px;
  padding: 0;

  li {
    transition: 350ms;
  }

  li:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  a {
    transition: 350ms;
    color: $font-color;
  }
}

.list__sticky a {
  color: $font-color-dark;
}

.list__dark a {
  color: $green-bg-color;
}

.list__dark li {
  color: $green-bg-color;
}

.list__dark__sticky a {
  color: $green-bg-color;
}
