@import "./styles/variables.scss";

.app {
  margin: 0px;
  padding: 0px;
  width: 100%;
  transition: all ease-in 350ms;
  background-color: rgb(229, 229, 229);
  color: $background-color-dark;
  &__dark {
    transition: all ease-in 350ms;
    color: $font-color-dark;
    background-color: $background-color-dark;
  }
}
